:root {
  --fuentePrimaria: 'Alegreya', serif;
  --fuenteSecundaria: 'Merriweather Sans', sans-serif;
}

body {
  font-family: var(--fuentePrimaria);
}

header {
  display: flex;
  justify-content: space-between;
}

header div.logo {
}

.logo h1 {
  font-family: var(--fuenteSecundaria);
  font-size: 2.5em;
  margin: 0;
  margin-left: 4em;
  margin: .3em 0 0 2.5em;
  color: white;
}

div.menu {
  margin: .5em 0;
}

.menu nav.nav {
}

.nav ul {
  display: flex;
}


.nav ul li {
  padding: 0 2em;
  list-style: none;
}

.nav ul li a {
  text-decoration: none;
  font-family: var(--fuenteSecundaria);
  font-size: 1.2em;
  color: white;
}

.nav ul li a:hover {
  color: #007B5B;
  transition-duration: 1s;
}

