:root {
  --fuentePrimaria: 'Alegreya', serif;
  --fuenteSecundaria: 'Merriweather Sans', sans-serif;
}

body {
  font-family: var(--fuentePrimaria);
}

header {
  display: flex;
  justify-content: space-between;
  background-color: black;
  height: 70px;
}

header div.logo {
}

.logo h1 {
  font-family: var(--fuenteSecundaria);
  font-size: 2.5em;
  margin: 0;
  margin-left: 4em;
  margin: .3em 0 0 2.5em;
  color: white;
}

div.menu {
  margin: .5em 0;
}

.menu nav.nav {
}

.nav ul {
  display: flex;
}


.nav ul li {
  padding: 0 2em;
  list-style: none;
}

.nav ul li a {
  text-decoration: none;
  font-family: var(--fuenteSecundaria);
  font-size: 1.2em;
  color: white;
}

.nav ul li a:hover {
  color: #007B5B;
  transition-duration: 1s;
  text-decoration: underline;
}


/*section hero*/

section.hero {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(3, 1fr);
  height: 90vh;
  grid-gap: 2em;
}

.hero div.cards {
  border: 1px solid black;
  border-radius: 20px;
  height: 500px;
}

div > img {
  height: 50%;
  width: 100%;
  border-radius: 20px 20px 0 0;
}

div > h3 {
  font-size: 1.5em;
  font-family: var(--fuentePrimaria);
}

div > p {
  font-family: var(--fuenteSecundaria);
  font-size: 1em;
  margin-top: 3em;
}