:root {
  --fuentePrimaria: 'Alegreya', serif;
  --fuenteSecundaria: 'Merriweather Sans', sans-serif;
}

body {
  font-family: var(--fuentePrimaria);
}

header {
  display: flex;
  justify-content: space-between;
}

header div.logo {
}

.logo h1 {
  font-family: var(--fuenteSecundaria);
  font-size: 2.5em;
  margin: 0;
}

div.menu {
}

.menu nav.nav {

}

.nav ul {
  display: flex;
}


.nav ul li {

}

